{% extends 'layout.twig' %}

{% block content %}

    <form method='post' action='index.php?action=authentification'>
        <label for='username'>Votre nom d'utilisateur <br/>
            <input type='text' name="username" id='username'/>
        </label><br/>
        <label for='password'>Votre mot de passe </br>
            <input type='password' name='password' id='password'/>
        </label><br/>
        <input type='hidden' value='{{ session.token }}'/>
        <input type='submit' value='Me connecter'/>
    </form>

{% endblock %}