{% extends 'layout.twig' %}

{% block title %}
Créer un compte
{% endblock %}

{% block content %}
    
    <div id="subform" class="formcontainer">
        <form method='post' action='index.php?action=newaccount'  class="form">
            <h3>CREER UN COMPTE</h3>
            <p>
                <label for='username'>Votre pseudo <br/><input type='text' name='username' id='username' class="text-input"> 
                    <span id="usernamehelp"></span>
                </label>
                <br/>
            </p>
            <p>
                <label for='password'>Votre mot de passe <br/><input type='password' name='password' id='password' class="text-input"> 
                    <span id="passwordhelp"></span>
                </label>
                <br/>
            </p>
            <p>
                <label for='email'>Votre email<br/><input type='email' name='email' id='email' class="text-input"> 
                    <span id="emailhelp"></span>
                </label>
                <br/>
            </p>
            <input type='submit' id='submit'  class="submit" value='Créer mon compte'>
        </form>
    </div>

    <p> {{ session.message }} </p>
{% endblock %}

{% block scripts %}
<script src="public/js/subform.js"></script>
<script src="public/js/navbar.js"></script>
{% endblock %}