{% extends 'layout.twig' %}

{% block content %}
    
    <div id="subform">
        <form method='post' action='index.php?action=newaccount'>
            <p>
                <label for='username'>Votre pseudo <br/><input type='text' name='username' id='username'> 
                    <span id="usernamehelp"></span>
                </label>
                <br/>
            </p>
            <p>
                <label for='password'>Votre mot de passe <br/><input type='password' name='password' id='password'> 
                    <span id="passwordhelp"></span>
                </label>
                <br/>
            </p>
            <p>
                <label for='email'>Votre email<br/><input type='email' name='email' id='email'> 
                    <span id="emailhelp">
                </label>
                <br/>
            </p>
            <input type='submit' id='submit' value='Créer mon compte'>
        </form>
    </div>

    <p> {{ session.message }} </p>
{% endblock %}

{% block scripts %}
<script src="public/js/subform.js"></script>
{% endblock %}