{% extends 'layout.twig' %}

{% block content %}
    <form method='post' action='index.php?action=newaccount'>
        <label for='username'>Votre pseudo <br/><input type='text' name='username' id='username'> </label> <br/>
        <label for='password'>Votre mot de passe <br/><input type='password' name='password' id='password'> </label> <br/>
        <label for='email'>Votre email<br/><input type='email' name='email' id='email'> </label> <br/>
        <input type='submit' id='submit' value='Créer mon compte'>
    </form>
{% endblock %}