{% extends 'layout.twig' %}

{% block title %} La bonne adresse {% endblock %}

{% block content %}

    {% for post in posts %}
        <a href='index.php?action=showpost&amp;publicationId={{post.getId}}'> <h3> {{post.getTitle}} </h3> </a>
        <p>{{post.getText}}</p>

    {% endfor %}

{% endblock %}