<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            {% if userConnected == false %}
                <li> <a href="index.php?action=auth">Me connecter </a></li>
            {% endif %}
            <li> <a href="index.php?action=adm"> Page d'administration </a></li>
            
            <li> <a href="index.php?action=createaccount">Créer un compte </a></li>

            <li> <a href="index.php">Retour à la page d'acceuil </a> </li>

        </ul>
    </nav>
    {% block content %} {% endblock %}
</body> 